<h1 class="center"><strong>Suggested articles:  </strong><span class="badge <%= Tag.css_class_type(@tag, "badge") %>"><%= @tag.name %></span></h1>
<br>
<u>Previous Category: 
  <% if @category %>
    <%= @category.name %>
  <% else %>
    <%="<No category>"%>
  <% end %></u>
<br>
<a href="/uploads/<%=@upload.id%>" class="btn btn-primary">Previous article</a>
<hr>

<% if !@other_uploads_categories_hash.empty? %>
  <% @other_uploads_categories_hash.each do |category, uploads| %>
    <br>
    <h3>
      <% if category %>
        <%= link_to category.name, root_path({ "category" => category.name }), class: "list-group-item list-group-item-dark center" %>
      <% else %>
        <div class="list-group-item list-group-item-dark center"> <%= "<No Category>" %></div>
      <% end %>
    </h3>
    <div class="list-group">
      <% uploads.each do |upload| %>
        <%= render '/main/article_list', upload: upload %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <em><u>No linked articles at the moment. Sorry for the inconvenience.</u></em>
<% end %>