<div id="<%= dom_id upload %>">
  <div class="container">
    <a href="/uploads/<%= upload.id %>" class="list-group-item list-group-item-action" id="upload-<%= upload.id %>">
      <div class="row">

        <div class="col-9">
          <h4> <%= upload.file.filename.to_s.sub(/(?<=.)\..*/, '') %> </h4>
          <br>
<!--          <p> <%#= upload.summary.split(/\s+/, 100 + 1)[0...100].join(' ') %> ...</p>-->
        </div>

        <div class="col-3">
          <% upload.topics.each do |topic| %>
            <span class="tag"><%= topic.name %></span>
          <% end %>
        </div>

      </div>
    </a>
  </div>
</div>

