<div id="<%= dom_id upload %>">
  <div class="container">
    <a href="/uploads/<%= upload.id %>" class="list-group-item list-group-item-action" id="upload-<%= upload.id %>">
      <div class="row table-container">

        <div class="col-9">
          <h4> <strong> <%= upload.file.filename.to_s.sub(/(?<=.)\..*/, '') %> </strong> </h4>
          <br>
          <% if upload.summary.nil? %>
            <p><em><u>No summary. Sorry for the inconvenience.</u></em></p>
          <% else %>
            <p> <%= upload.summary.split(/\s+/, 100 + 1)[0...100].join(' ') %></p>
          <% end %>
        </div>

        <div class="col-3 d-grid gap-2 d-md-block">
          <% upload.tags.each do |tag| %>
            <span class="badge <%= Tag.css_class_type(tag, "badge") %>"><%= tag.name %></span>
          <% end %>
        </div>
      </div>
    </a>
  </div>
</div>

