<p style="color: green"><%= notice %></p>

<%= link_to topic_path, style: "text-decoration:none" do %>
  <span class="tag"><%= @topic.name %></span>
<% end %>

<div>
  <%= link_to "Edit", edit_topic_path(@topic) %> |
  <%= link_to "View all topics", topics_path %>
</div>
