<h1>Edit Category</h1>

<%= turbo_frame_tag dom_id(@upload_category_link) do %>
  <%= form_with(model: @upload_category_link) do |form| %>
    <datalist id="categories_list">
        <%= Category.all.each do |category| %>
        <option value="<%= category.name %>"></option>
        <% end %>
    </datalist>
  
    <div class="field">
      <h4>Category:</h4>
      <%= form.text_field :categories, class: "form-control", id: "category-input",
                          value: @category.name, list: "categories_list" %>
      <%= form.submit "Save", class: "btn btn-success", id: "save-button" %>
      <%= link_to "Cancel", url_for(:back), class: "btn btn-primary", id: "cancel-button", data: { turbo: false }%>
    </div>
  <% end %>
<% end %>