<h1> 
    <% if @category %>
        <%= @category.name %>
    <% else %>
        <p style="color: red"> <%= "No Category" %> </p>
    <% end %> 
    <span class="tag">
    #<%= @topic.name %></span>
    <hr>
</h1>

<% @other_uploads_categories_hash.each do |category, upload| %>
    <br>
    <h3> 
        <% if category %>
            <%= category.name %>
        <% else %>
            <p style="color: red"> <%= "No Category" %></p>
        <% end %>
    </h3> <br>
    <div class="list-group">
        <% upload.each do |upload_each| %>
            <%= render '/main/articlelist', upload: upload_each %>
        <% end %>
    </div>
<% end %>