<p style="color: green"><%= notice %></p>

<%= render @tag %>

<div>
  <%= link_to "Edit this Tag", edit_tag_path(@tag) %> |
  <%= link_to "Back to Tags", tags_path %>

  <%= button_to "Destroy this Tag", @tag, method: :delete %>
</div>
