<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this Topic", edit_post_path(@post) %> |
  <%= link_to "Back to Topic List", posts_path %>
  <%= button_to "Destroy this Topic", @post, method: :delete %>
</div>
