<%= form_with(model: @category) do |form| %>
  <div class="d-grid gap-2">
    <h1 class="center">Edit Category</h1><hr>
    <%= form.text_field :name, class: "form-control", id: "category-input", placeholder: @category.name %>
    <span></span>
    <%= form.submit "Save changes", class: "btn btn-success", id: "save-button" %>

    <div class="btn-group ">
      <%= link_to "Back to Category Bank", categories_path, class: "btn btn-primary edit_button_custom", id: "return-button" %>
      <%= button_to "Delete Category", {:controller => :categories, :action=>'destroy', :id=> @category.id}, :method=> :delete, class: "btn btn-outline-danger", id: "delete-button" %> 
    </div>
    
  </div>
<% end %>

