<%= form_with(model: upload) do |form| %>
    <div class="d-grid gap-2">

        <datalist id="tags_list">
            <%= @filtered_tags.each do |tag| %>
            <option value="<%= tag.name %>"></option>
            <% end %>
        </datalist>

        <div class="form-floating">
            <%= form.text_field :tags, class: "form-control", id: "tag-input",
                                value: "", placeholder: "Add new tag...", list: "tags_list" %>
            <label for="tag-input">Tag name</label>
        </div>

        <%= form.hidden_field :entity_type, value: @tag_type %>

        <%= form.submit "Add new Tag", class: "btn btn-outline-success d-grid gap-2", id: "add-new-tag-button" %>

    </div>
<% end %>
