<%= form_with(model: upload) do |form| %>
  <% if upload.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
        <% upload.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, { class: "form-label"} %>
    <%= form.text_field :title, { class: "form-control", placeholder: "Topic", id: :title }%>
  </div>

  <br>

  <div class="drag-area">
      <%= form.file_field :file, id: :file, class: "custom-file-input", accept:'.zip', :required => 'required' %>
  </div>

  <div>
    <%= form.submit "Create Upload", id: "create-upload-button" %>
  </div>

<% end %>
