<tr class="align-middle center" id="<%= dom_id upload %>">

  <td>
    <% if upload.ml_status == "Running" %>
      <span class="badge bg-warning"><%= upload.ml_status %></span>
    <% else %>
      <span class="badge bg-success"><%= upload.ml_status %></span>
    <% end %>
  </td>

  <td>
    <% if !upload.upload_category_links.first.nil? %>
      <div> <%= "#{upload.upload_category_links.first.category.name}" %> </div>
    <% else %>
      <div class="badge bg-warning"> <%= "No Category" %> </div>
    <% end %>
  </td>

  <td>
    <div style="display: table-cell;"> <%= render 'uploads/attachment', upload: upload %> </div>
  </td>


  <td>
    <% upload.topics.each do |topic| %>
      <span class="tag"><%= topic.name %></span>
    <% end %>
  </td>

  <td>
    <%= link_to edit_upload_path(upload), id: "upload-#{upload.id}" do %>
      <i class="bi bi-pencil-square icon-yellow" style="font-size: 2rem;"></i>
    <% end %>
  </td>

</tr>

