<h1>Edit Upload</h1>

<%= form_with(model: @upload) do |form| %>


  <div class="mb-3">
    <%= form.label 'Topic', { class: "form-label"} %>
    <%= form.text_field :title, { class: "form-control", placeholder: "Topic", id: :title }%>
    <%= form.submit "Update Title", id: "create-upload-button" %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Show this upload", @upload %> |
  <%= link_to "Back to uploads", uploads_path %>
</div>
