<p style="color: green"><%= notice %></p>

<h1><%= render 'uploads/attachment', upload: @upload %></h1>

<br>

<%= form_with(model: @upload) do |form| %>

  <datalist id="topicslist">
    <%= Topic.all.order(:name).each do |topic| %>
      <option value="<%= topic.name %>">
    <% end %>
  </datalist>

  <div class="d-grid gap-2">
    <%= form.text_field :topics, class: "form-control", value: "", placeholder: "Add new topic...", list:"topicslist"%>
    <%= form.submit "Add new topic", class: "btn btn-outline-success"%>
  </div>
 
  <%# <div class="mb-3"> %>
    <%#= form.label 'Topic', { class: "form-label"} %>
    <%#= form.text_field :title, { class: "form-control", placeholder: "Topic", id: :title }%>
    <%#= form.submit "Update Title", id: "create-upload-button" %>
  <%# </div> %>

<% end %>
<br>

<% @upload.uploadlinks.order(:similarity).reverse.each do |uploadlink| %>
    <%= link_to uploadlink.topic, class: "list-group-item list-group-item-action" do %>
      <div class="d-flex justify-content-between">
        <div> <%= uploadlink.topic.name %> </div>
        <div> 
          <span class="badge bg-primary rounded-pill"><%=uploadlink.similarity%></span> 
        </div>
        <%= link_to "Remove", uploadlink , method: :delete, class: "btn btn-outline-danger" %>

      </div>
    <% end %>
<% end %>

<br>

<div class="d-grid gap-2">
  <%#= link_to "Show this upload", @upload %>
  <%= link_to "Delete this article", @upload, method: :delete, class: "btn btn-outline-danger" %>
  <%= link_to "Back to database", uploads_path, class: "btn btn-primary" %>
</div>
