<h1>Edit Upload</h1>

<%= form_with(model: @upload) do |form| %>

  <label for="addnewtopiclist" class="form-label">Add new topic</label>
  <input class="form-control" list="topicslist" id="addnewtopiclist" placeholder="Add new topic...">
  <datalist id="topicslist">
    <%= Topic.all.each do |topic| %>
      <option value="<%= topic.name %>">
    <% end %>
  </datalist>

  <div class="mb-3">
    <%= form.label 'Topic', { class: "form-label"} %>
    <%= form.text_field :title, { class: "form-control", placeholder: "Topic", id: :title }%>
    <%= form.submit "Update Title", id: "create-upload-button" %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Show this upload", @upload %> |
  <%= link_to "Back to uploads", uploads_path %>
</div>
