<h3><%= render 'uploads/attachment', upload: @upload %></h3><br>

<h4>
  <% if !@linked_category.nil? %>
    <%= render 'uploads/inline_category', linked_category: @linked_category, upload: @upload %>
  <% else %>
    <%= "Category: <No Category>" %>
    <%= render 'uploads/edit_category_form', upload: @upload %>
  <% end %>
</h4><br>

<h4>List of Tags:</h4>

<%= render 'uploads/edit_tag_form', upload: @upload %><br><br>
<div class="d-grid gap-2">
  <% @linked_topics.each do |uploadlink| %>
    <%= render 'uploads/inline_tag', uploadlink: uploadlink %>
  <% end %>

  <br>
  <div class="btn-group">
    <%= link_to "Back to Database", uploads_path, class: "btn btn-primary edit_button_custom", id: "back-to-database-button" %>
    <%= button_to "Delete this Upload", {:controller => :uploads, :action=>'destroy', :id=> @upload.id}, :method=> :delete, class: "btn btn-outline-danger", id: "delete-this-upload-button" %> 
  </div>
</div>