<p style="color: green"><%= notice %></p>
<div class="inner-flex">
<%= turbo_stream_from "uploads_list" %>
<h1 class="center">Database</h1><hr><br>

<div class="center">
  <h4>Tags colour legend</h4>
    <span class="badge bg-person-badge">Person</span>
    <span class="badge bg-location-badge">Location</span>
    <span class="badge bg-organization-badge">Organization</span>
    <span class="badge bg-event-badge">Event</span>
    <span class="badge bg-work-of-art-badge">Work of Art</span>
    <span class="badge bg-consumer-good-badge">Consumer Good</span>
    <span class="badge bg-other-badge">Other</span>
</div>

<br><br>

<div class="btn-group special">
  <%= link_to new_upload_path, class: "btn btn-secondary", id: "new-upload-button" do %>
    <span class="bi bi-upload icon-align-left"></span>
    Upload
  <% end %>
  <%= link_to  admin_path, class: "btn btn-primary", id: "back-to-home-button" do %>
    <span class="bi bi-person-circle icon-align-left"></span>
    Admin Homepage
  <% end %>
</div>

<br><br>


<div class="table-container">
<table class="table table-hover">
  <thead class="table">
    <tr>
      <th scope="col" class="text-center">Processing</th>
      <th scope="col" class="text-center">Category</th>
      <th scope="col" class="text-center">Article</th>
      <th scope="col" class="text-center">Tags</th>
      <th scope="col" class="text-center"></th>
    </tr>
  </thead>
  <tbody id="uploads">
    <% @uploads.each do |upload| %>
      <%= render upload %>
    <% end %>
  </tbody>
</table>
</div>

</div>



