<p style="color: green"><%= notice %></p>

<%= turbo_stream_from "uploads_list" %>

<div class="center">
  <h1>Database</h1>
  <%= link_to "New Upload", new_upload_path, class: "btn btn-success", id: "new-upload-button" %>
  <%= link_to "Back to Home", admin_path, class: "btn btn-primary", id: "back-to-home-button" %>
</div>
<br><br>

<% if @uploads.blank? %>
  <p>No uploads found.</p>
<% else %>

  <div style="width: 100%; display: table;">
    <div style="display: table-row">

      </div>
          <div style="width: 10%; display: table-cell;">
        <p>
          <strong>ML status</strong>
        </p>
      </div>
    
      <div style="width: 20%; display: table-cell;">
        <p>
          <strong>Category</strong>
        </p>
      </div>

      <div style="width: 50%; display: table-cell;">
        <p>
          <strong>Article</strong>
        </p>
      </div>

      <div style="width: 20%; display: table-cell;">
        <p>
          <strong>Tags</strong>
        </p>
    </div>

  </div>

  <div id="uploads">
    <% @uploads.each do |upload| %>
      <%= render upload %>
    <% end %>
  </div>

<% end %>




