<p style="color: green"><%= notice %></p>

<h1><%= link_to @upload.file.filename.to_s.sub(/(?<=.)\..*/, ''), url_for(@upload.file) %></h1>

<br>

<p>
  <%= @upload.summary%>
</p>

<% @upload.topics.each do |topic| %>
  <span class="tag">
    <%= link_to uploadlink_path(Upload.get_uploadlink(@upload, topic).id), style:"text-decoration:none" do %>
      <span class="tag"><%= topic.name %></span>
    <% end %>
  </span>
<% end %>

