<p style="color: green"><%= notice %></p>

<h1 class="center"><strong><%= link_to @upload.file.filename.to_s.sub(/(?<=.)\..*/, ''), url_for(@upload.file) %></strong></h1>
<br>

<h3><strong>Category: </strong>
  <% if @upload.categories.first %>
    <%= @upload.categories.first.name %>
  <% else %>
    <%="<No category>"%>
  <% end %>
</h3>
<br>

<p class="grid"> <%= @upload.summary  %> </p>
<br>

<div class="container">
  <div class="row">

    <div class="col-7">
      <h3>Select a tag to explore other related articles:</h3>
    </div>
    <div class="col-5">
      <% @upload.topics.each do |topic| %>
            <%= link_to uploadlink_path(Upload.get_uploadlink(@upload, topic).id),
                        id: "#{topic.name}-link",
                        style: "text-decoration:none" do %>
              <h5 style="display: inline-block"><span class="badge <%= Topic.css_class_type(topic, "badge") %> badge-lg"><%= topic.name %></span></h5>
            <% end %>
      <% end %>
    </div>
  </div>
</div>

<br>
<div class="d-grid gap-2">
<%= link_to "Back to Home", root_path, class: "btn btn-primary", id: "back-to-home-button" %>
</div>
