<p style="color: green"><%= notice %></p>

<%= render @upload %>

<br>

<div class="d-grid gap-2">
  <%= link_to "Edit this upload", edit_upload_path(@upload), class: "btn btn-outline-success" %>
  <%= link_to "Delete this upload", @upload, method: :delete, class: "btn btn-outline-danger" %>
  <%= link_to "View upload database", uploads_path, class: "btn btn-primary" %>
</div>
