<p style="color: green"><%= notice %></p>

<h1><%= link_to @upload.file.filename.to_s.sub(/(?<=.)\..*/, ''), url_for(@upload.file) %></h1>

<br>

<!--<p class="grid" style="background:#d3d3d3"> <%#= @upload.summary  %> </p>-->

<div class="container">
  <div class="row">

    <div class="col-6">
      <h3>Select a tag explore other related articles:</h3>
    </div>
    <div class="col-5">
      <% @upload.topics.each do |topic| %>
          <span class="tag">
            <%= link_to uploadlink_path(Upload.get_uploadlink(@upload, topic).id),
                        id: "#{topic.name}-link",
                        style: "text-decoration:none" do %>
              <span class="tag"><%= topic.name %></span>
            <% end %>
          </span>
      <% end %>
    </div>
  </div>
</div>

<br>
<br>
<%= link_to "Back to Home", root_path, class: "btn btn-primary", id: "back-to-home-button" %>

